/*======= index.html =======*/
#page1 #content .col-1 {width:621px; margin-right:20px;}
#page1 #content .col-2 { width:302px;}
#page1 #content .col-1 .col-1 {width:264px; margin-right:14px;}
#page1 #content .col-1 .col-2 {width:264px;}

/*======= index-1.html =======*/
#page2 #content .col-1 {width:302px; margin-right:20px;}
#page2 #content .col-2 { width:621px; }

/*======= index-2.html =======*/
#page3 #content .col-1 {width:621px; margin-right:20px;}
#page3 #content .col-2 { width:302px;}

/*======= index-3.html =======*/
#page4 #content .col-1 {width:302px; margin-right:20px;}
#page4 #content .col-2 { width:302px; margin-right:20px;}
#page4 #content .col-3 { width:302px;}

/*======= index-4.html =======*/
#page5 #content .col-1 {width:302px; margin-right:20px;}
#page5 #content .col-2 { width:621px; }
#page5 #content .col-2 .col-1 {width:272px; margin-right:40px;}
#page5 #content .col-2 .col-2 {width:272px;}

/*======= index-5.html =======*/
#page6 #content .col-1 {width:621px; margin-right:20px;}
#page6 #content .col-2 { width:302px;}
#page6 #content .col-1 .col-1 {width:268px; margin-right:51px;}
#page6 #content .col-1 .col-2 {width:260px;}

/*======= index-6.html =======*/
#page7 #content .col-1 {width:302px; margin-right:20px;}
#page7 #content .col-2 { width:302px; margin-right:20px;}
#page7 #content .col-3 { width:302px;}

/*=========================*/


